*{
    font-family: 'Lato', sans-serif;
  }
  
  .bg-primary-color{
    background-color: white;
  }
  
  .bg-dark-color {
    background-color: #050505;
  }
  
  .primary-color {
    color: #050505;
  }
  
  .secondary-color{
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  
  /*=============================>     NAVBAR*/
  .navbar-brand img {
    width: 50px;
    border-radius: 10px;
  }
  
  .nav-item a {
    color: rgb(28, 27, 27);
    font-size: 20px;
  }
  
  #navbar {
    border-bottom: 1px solid #a7a7a7;
  }
  
  #navbar a:hover{
    color: #7a7a7a;
  }
  
  #navbar a:hover{
    border-bottom: 1px solid #a7a7a7;
  }
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  
  #navbar-items .nav-item{
    margin: 0 30px;
  } 
  
  /*=============================>     MINIBANNERS*/
  
  #slider {
    margin-top: 8em;
    margin-bottom: 1em;
  }
  
  #slider .carousel-caption {
    bottom: 3em;
  }
  
  #slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
  }
  
  .btn {
    border-radius: 10px;
  }
  
  #slider .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.7;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    color: grey;
    font-size: 3em;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: white;
    opacity: 0.8;
  }
  
  .carousel-indicators .active {
    background-color: grey;
  }
  
  .carousel-item img {
    border-radius: 20px;
    margin-top: 80px;
  }
  @media (min-width: 768px) {
    #slider .carousel-caption {
      bottom: 15em;
    }
    #slider .carousel-caption h5 {
      font-size: 4em;
      text-shadow: #000 2px 3px;
    }
    #slider .btn {
      padding: 0.6em 1.6em;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .carousel-indicators {
      bottom: 7em;
    }
  }
  
  /*=============================>    MINI CARDS */
  #mini-banners {
    margin-bottom: 4em;
    
  }
  
  #mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 10px;
  }
  
  #mini-banners i {
    font-size: 4em;
  }
  
  #mini-banners .card-title {
    margin-bottom: 1.5em;
  }
  
  #mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
  }
  
  #mini-banners .card {
    margin-bottom: 1em;
  }
  
  .card-text {
    border-radius: 10px;
  }
  @media (min-width: 768px) {
    #mini-banners {
      margin-top: -6em;
    }
  }
  

  #featured-container img {
      border-radius: 20px;
      margin-bottom: 10px;
  }

  #featured-container .subtitle {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    text-transform: uppercase;
}


#featured-container .title {
    text-align: center;
    font-size: 80px;
    margin-bottom: 70px;
}

#featured-container p {
    border-radius: 10px;
    text-align: center;
    background-color: grey;
    margin-top: 10px;
    font-size: 40px;
    cursor: pointer;
    transition: .2s;
    border: none;
}

#featured-container .find{
  border-radius: 20px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 40px;
  cursor: pointer;
  transition: .2s;
 
}
#featured-container p:hover {
    background-color: rgb(223, 223, 223);
    color: black;
}


#featured-container h3 {
    text-align: center;
}

#info-container img {
  border-radius: 10px;
  
}

#info-container .logo{
  font-size: 80px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

#info-container .see {
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 40px;
  cursor: pointer;
  transition: .2s;
  text-transform: uppercase;
}

#info-content h2 {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

#info-content p {
  border-radius: 10px;
}